!!!
%html
  %head
    %title NWRaptor
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.application
    = render 'layouts/navbar'

    -# This is the login content
    .content
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
    -# yield contains everything important
    %div.login-info
      = yield

    = render 'layouts/footer'
